Options +FollowSymLinks  
RewriteEngine On 
RewriteRule ^tour/(.*)$ ./tour.php?&slug=$1 [L,NC]
RewriteRule ^tours/(.*)$ ./tours.php&current=$1 [L,NC]
RewriteRule ^privacy privacy.php [L,NC]
RewriteRule ^testimonials testimonials.php [L,NC]

Redirect 301 /get-a-quote /#contact
Redirect 301 /tour-manager /#about
Redirect 301 /airport-transfers /tour/airport-transfers
Redirect 301 /shore-excursions-italy /?current=shore-excursions

