/* @override 
	http://localhost:8888/css/last.css
	http://toptoursinitaly.net/css/last.css */

a {
	cursor: pointer !important;
	cursor: hand !important;
}
h1, h2 {
	font-family: "Marcellus";
	text-transform: capitalize;
	font-style: normal;
	font-weight: normal;
}
h3, h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}
h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
figure {
	text-align: center;
}
.videoBackgroundContainer {
	overflow: hidden;
	height:100vh;
	width: 100%;
}
.videoWrapper {
	width: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	position: absolute;
	height: 100vh;
}
.videoBackground {
	background: #222;
	min-height: 100vh;
	min-width: 100%;
	background-size: cover;
    background-position: center center;
    transition: 1s opacity;
    opacity: 1.0;
    position: relative;
    top: 0;
    left: 0;
}
.videoBackgroundOverlay {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	transition: 1s opacity;
	position: absolute;
	top: 0;
	left: 0;	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0+0,0+15,0.5+30,0.5+70,0+85 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0) 85%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0) 85%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0) 85%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
header#header.header{
	padding-top: 25vh;
	height: 100%;
}
header#header.header h1 {
	font-family: 'Marcellus';
	font-size: 7em;
}
figure.logo {
	min-width: 50%;
	-moz-box-shadow: 0 0 #ffffff;
	box-shadow: 0 0 #ffffff;
}
.we-create h2 {
	color: white;
	font-size: 14pt;
	margin-bottom: 60px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
	padding:0;
}
.we-create a:hover h2 {
	color: orange;
}
#tripadvisor {
	width: 250px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	opacity: 0.7;
}
#scrolldown {
	width: 32px;
	height: 32px;
	position: absolute;
	bottom: 30px;
	right: 50%;
	margin-right: -16px;
}
#scrolldown a, #scrolldown a.visited {
	color: silver;
	font-size: 32px;
}
#scrolldown a:hover {
	color: white;
}
.Portfolio-box {
	height: 360px;
}
.Portfolio-box img {
	margin-bottom: 10px;
}
.Portfolio-box h3 {
	margin-bottom: 4px;
}
.Portfolio-box p {
	line-height: 100%;
}
a, a:hover, a.visited {
	text-decoration: none;
}
a, a.visited {
	color: #78bf72;
}
a:hover {
	color: orange;
}
#mission {
	background: url(../media/tours/best-of-rome-highlights-560x460.jpg) center 0 no-repeat fixed #eee;
	background-size: cover;
	overflow: hidden;
}
.parallax {
	height: 480px;
	color: white;
}
.overlay-black {
	height: 480px;
	background-color: rgba(0,0,0,0.5);
	padding: 20%;
	padding-top: 200px;
	padding-bottom: 0;
}
.parallax h2 {
	color: white;
	font-style: italic;
	font-weight: normal;
	text-transform: capitalize;
}
#mercedes {
	padding: 0;
	position: absolute;
	right: 0;
}
#blog h3 {
	color: white;
	text-align: left;
}
#blog .container .col-sm-3 img {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
#blog h2 {
	color: white;
	margin-bottom: 40px;
}
#blog .post-content {
	color:  #ccc;
	text-align:  left;
}
#blog .read-more-link {
	text-align: left;
}
.go-to-blog {
	color: white;
}
.go-to-blog a {
	color: white;
	font-weight: 700;
}
.go-to-blog a:hover {
	color: white;
	text-decoration: underline;
}
.go-to-blog h3 {
	text-align: center;
}
#team p {
	margin-bottom: 20px;
	font-size: 1.2em;
}
#team h2 {
	text-align: left;
}
#team .col-sm-3 {
	text-align: center;
}
#team .nick-photo {
	margin-bottom: 20px;
	border-radius: 200px;
	border: 5px solid #eee;
}
#testimonial {
	background: url(../media/tours/outlet-castelromano-560x460.jpg) center bottom 0 no-repeat fixed #333;
	background-size: cover;
	height: 400px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#testimonial h3 {
	color: white;
	text-align: center;
	font-size: 3em;
	margin-top: 50px;
	margin-bottom: 25px;
}
#testimonial .item .container {
	box-sizing: border-box;
	height: 250px;
}
#testimonial .overlay-black {
	padding: 0;
	height: 400px;
}
#testimonial .item .container h2 {
	color:white;
	font-family: "Marcellus", serif;
	font-style: italic;
	font-size: 2em;
	line-height: 150%;
}
#testimonial .item .container .author {
	text-align: center;
}
#cookies {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: auto;
	color: white;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
}
#cookies p {
	padding:0;
	margin:0;
}
#cookies .link, #backhome .link, #alert .link {
	height: 24px;
	line-height: 24px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-bottom: 0;
}
#backhome {
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	padding: 10px;
	padding-top: 54px;
	width: 100%;
	height: auto;
}
#backhome h3 {
	float:right;
	margin: 10px;
	padding:0;
	color:white;
}
#backhome .link {
	margin: 10px;
}
.page {
	padding-bottom: 50px;
}
.page p {
	margin-bottom: 30px;
}
#privacy {
	margin-top: 200px;
}
#page-header, #tour-header {
	background: url(../media/header.jpg) left bottom no-repeat scroll white;
	background-size: cover;
	padding: 60px;
	color: white;
	text-align: center;
}
#tour-header {
	height: 100vh;
	background-position: center center;
	display: table;
	width: 100%;
}
.tour-header-content {
	display: table-cell;
	vertical-align: middle;
	color: white;
}
#tour-header h1, #tour-header h2, #tour-header h3, #tour-header .logo {
	color: white;
	text-shadow: 0 1px 30px black, 0 -1px 1px black, 0 0 10px #000000;
}
#tour-header .logo {
	position: absolute;
	right: 30px;
	top: 30px;
	margin: 0;
	padding: 0;
	color: white;
	font-family: "Marcellus", serif;
	font-size: 2em;
	display: block;
	width: 250px;
}
#tour-header h2 {
	font-size: 5em;
}
#tour-header h3 {
	font-size: 2em;
	margin: 50px;
}
#topbar {
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	padding: 10px;
	padding-top: 10px;
	width: 100%;
	height: 44px;
}
#topbar h3 {
	color: white;
	text-align: right;
	padding: 5px;
	margin: 0;
}
#topbar .link {
	float: left;
	padding: 0;
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 8pt;
}
#tour-page h3 {
	text-align: center;
	margin-bottom: 20px;
}
#alert {
	position: fixed;
	top: 44px;
	left: 0;
	background-color: rgba(255,255,255,0.75);
	color: black;
	z-index: 999;
	padding: 30px;
	width:100%;
	text-align: center;
}
.g-recaptcha {
	margin-bottom: 20px;
}
.fb-page-container {
	padding: 10px;
	text-align: center;
	background-color: #eee;
}
.footer h3 {
	text-align: center;
	color:white;
}
.footer h6 {
	margin-bottom: 30px;
}
.footer ul {
	padding: 0;
	margin: 0;
}
.footer li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.alternatebg {
	background-color: #f9faf9;
	-moz-box-shadow: 0 0 20px #dde2dc;
	box-shadow: 0 0 20px #dde2dc;
}
.testimonials-list .list-item {
	border-style: none;
	-moz-box-shadow: 0 0 50px #e4e4e4;
	box-shadow: 0 0 50px #e4e4e4;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 10px;
	padding: 40px;
}
.testimonials-list .list-item .author {
	margin: 0;
	padding: 0;
	font-weight: 200;
	font-style: italic;
	border-bottom: 1px solid #ccc;
}
.footer #share-buttons {
	width: auto;
	margin: auto;
	text-align: center;
	margin-bottom: 30px;
}
#share-buttons img {
	width: 44px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
	opacity: 0.6;
}
#share-buttons img:hover {
	opacity: 1;
}
#share-buttons-title {
	display: inline-block;
	text-transform: uppercase;
	font-size: x-small;
	line-height: 44px;
	padding: 5px;
}
@media only screen and (max-width:768px){
	header#header.header h1 {
		font-size: 5em;
	}
	.we-create h2{
		font-size: 12pt;
		margin: 5px;
		margin-bottom: 20px;
	}
	#team h2 {
		margin-top: 30px;
	}
	#testimonial .item .container {
		padding: 50px;
		padding-top: 100px;
	}
	#testimonial ol.carousel-indicators {
		display: none;
	}
	#testimonial .item .container {
		padding-top: 50px;
	}
	#testimonial .left.carousel-control {
		left: -30px;
	}
	#testimonial .right.carousel-control {
		right: -30px;
	}
	#mercedes {
		position: relative;
	}
}
@media only screen and (max-width:600px){
	header#header.header {
		padding-top: 10vh;
	}
	header#header.header h1 {
		font-size: 3em;
	}
	.we-create h2{
		font-size: 12pt;
		margin: 5px;
		margin-bottom: 20px;
	}
	#get-in-touch {
		margin-top: 30px;
	}
	#tripadvisor {
		bottom: 100px;
		left: 0;
		width: 100%;
	}
	#tripadvisor img {
		width: 200px
	}
	#tour-header h2 {
		font-size: 3em;
	}
	#tour-header h3 {
		font-size: 1.5em;
		margin: 50px;
	}
}

header#header.header h1 {
	font-weight:300;
}
header#header.header h1 small {
	color: white;
	font-style: italic;
	text-transform: lowercase;
}
header#header.header h1 .line-one {
	font-size: 50%;
}
header#header.header h1 .line-two {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.videoBackgroundOverlay {
	background: hsl(10, 70%, 50%);
	opacity: 0.7;
}
body.not-found {
	background-color: black;
}
#not-found {
	padding: 10vh;
	color: white;
	min-height: 50px;
	height: 100vh;
}
#not-found img {
	width: 100%;
	position: absolute;
	z-index: -1;
	right: 0;
	bottom: 0;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	opacity: 0.8;
}
#not-found h1, #not-found h2, #not-found h3 {
	color: white;
	text-align: left;
	font-size: 20pt;
	line-height: 24pt;
	display: block;
}
#not-found p, #not-found a {
	font-size: 20pt;
	line-height: 24pt;
}
#not-found a {
	margin-top: 20px;
	display: block;
	background-color: rgba(77, 243, 232, 0.59);
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12pt;
	width: 150px;
	text-align: center;
	border-radius: 20px;
}
#not-found a:hover {
	background-color: rgba(77, 243, 232, 1.0);
	color: gray;
}
